.banner {
	display: flex;
	justify-content: space-between;
	background-color: #bd86f1;
	margin: -5mm -5mm 15px -10mm;
}

.banner__wrapper__left {
	padding: 5mm 0mm 5mm 10mm;
}

.banner__wrapper__right {
	position: relative;
	overflow: hidden;
}

.banner__name {
	font-family: var(--font-family-header);
	font-size: 50px;
	margin: 0;
}

.banner__position {
	font-weight: var(--weight-regular);
	font-size: 18px;
	margin: 0;
}

.banner__picture {
	position: relative;
	top: -55px;
	right: -6px;
	height: calc(100% + 100px);
	width: 170px;
	border: 6px solid #fff;
	border-radius: 50% 0 0 50%;
	background-color: var(--color-1);
	background-image: url("../images/exampleperson.png");
	background-size: 100%;
	background-position: 0 90%;
}