@font-family: "Titillium Web", sans-serif;
@weight-light: 300;
@weight-regular: 400;
@weight-bold: 700;

@font-family-header: "Bebas Neue", cursive;


// colors source: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
@primary100: #E1BEE7;
@primary300: #BA68C8;
@primary500: #9C27B0;
@primary900: #4A148C;

@heading-font-color: #212121;
@font-color: #424242;
@font-color-emphasis: @primary500;