body {
  font-family: var(--font-family);
  font-weight: var(--weight-regular);
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.container__left {
  width: 70%;
  box-sizing: inherit;
  padding-right: 10px;
}

.container__right {
  width: 30%;
}

.strong {
  font-weight: var(--weight-bold);
}

.main-content {
  margin-bottom: 15px;
}
